<div id="mycarousel" class="carousel slide" data-ride="carousel">
  
  <ol class="carousel-indicators">
    <% @ads.each do |ad| %>
      <li data-target="#mycarousel" data-slide-to="<%= ad.id %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @ads.each do |ad| %>

        <div class="item img">
          <%= image_tag ad.picture.url(:large), class:"img" %>
        </div>

    <% end %>
  </div>

</div>
